/*Import */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;500;600&display=swap');

/*Variables*/

:root{
    /*palette*/
    --primary: #ACC18A;
    --secondary: #DAFEB7;
    --light: #F2FBE0;
    --accent: #426B69;

    /*Font Sizes*/

    --text-xxl: 4.8rem;
    --text-xl: 3.6rem;
    --text-lg: 3.2rem;
    --text-md: 2.0rem;
    --text-sm: 1.6rem;
    --text-xs: 1.2rem;

    /*Spacings*/

    --sp-xxl: 12rem;
    --sp-xl: 8rem;
    --sp-lg: 5rem;
    --sp-md: 3.2rem;
    --sp-sm: 1.6rem;
    --sp-xs: 0.8rem;
}


/* Normalize*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;

}

h1{
    font-size: var(--text-xxl);
}

h3{
    font-size: var(--text-md);
}

label{
    font-size: var(--text-sm);
}

body{
    font-family: 'Inconsolata', monospace;
    font-size: var(--text-sm);
    color: var(--primary);
    /*display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;*/
}

li{
    display: inline;
}

header{
    background-color: var(--accent);
    padding-top: var(--sp-sm);
    padding-bottom: var(--sp-sm);

}
main{
    background-color: var(--primary);
}

a{
    text-decoration: none;
    color: var(--primary);
    
}

article {
    font-size: var(--text-lg);
    text-justify: auto;
}

img{
    width: 100%;
}

hr{
    height: 4px;
    width: 100%;
    color: var(--primary);
    background-color: var(--primary);
}

/*Bootsrap desreboot*/
ol, ul, dl{
    margin-bottom: 0;
    padding-left: 0;
}

body{
    font-weight: normal;
    line-height: normal;
}

a:hover{
    color: inherit;
}
    

/* Class */

.intro{
    color: var(--light);
    background-color: var(--primary);
    text-align: center;
    padding-top: var(--sp-xxl);
    padding-bottom: var(--sp-xxl);
}

.container{
    max-width: 1200px;
    margin: 0 auto;

}

.navegador{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navegador__link{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}
.navegador__logo{
    width: 208px;
}
.navegador__link a{
    font-size: var(--text-md);
    display: table-caption;
    color: var(--light);
    font-size: var(--text-sm);
    margin: var(--sp-sm);
    padding: 3px;
    transition: color 1.2s ease-in-out;
}
.bannerm{
    display: none;
}
.banner{
    display: grid;
    place-items: center;
}
.aves{
    color: var(--accent);
}
.aves__izq{
    background-color: var(--light);

}
.aves__drc{
    background-color: var(--secondary);
}

.aves__img{
    max-width: 360px;
}

.yo{
    color: var(--accent);
    background-color: var(--secondary);
}

.yo__foto {
    max-width: 293px;
}


.background__light{
    background-color: var(--light);
}

.background__primary{
    background-color: var(--primary);
}

.background__secondary{
    background-color: var(--secondary);
}

.cierre{
    font-size: var(--text-xs);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cierre__imagen{
    margin: var(--sp-xl);
    max-width: 157px;
}

.cierre__cr{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: var(--text-xs);
    margin: var(--sp-xl);

}


/* Id */



/* Transitions */

.navegador__link a:hover{
    color: var(--primary);
}

/* Animations */


/* Media Queries */

@media screen and (max-width:826px) {
   /* html{
        font-size: 62.5;
    }  esto es para cambiar en un futuro el size de las fuentes cuando pasa a mobile para los intros y el texto de nosotros.html hay que hacer matematicas y ahora no tengo ganas */
    hr{
        display: none;
    }
    .navegador{
        flex-direction: column;
        align-items: center;
    }
    .navegador__link{
        justify-content: center;
    }
    .bannerm{
        display: block;
        place-items: center;
    }
    .banner{
        display: none;
    }
}