/* IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;500;600&display=swap');


/* MISC */
@import './misc/variables';
@import './misc/mixins';
@import './misc/normalize';

/* PARTIALS */

@import './partials/footer';
@import './partials/header';

/* PAGES */

@import './pages/index';
@import './pages/aves_aucto_extra';
@import './pages/nosotros';
@import './pages/contacto';

/* MEDIA QUERIES*/

@media screen and (max-width:826px) {
    hr{
        display: none;
    }
    .navegador{
        @include flex(column, no-wrap, center, center, none);
        &__link{
            @include flex(column, no-wrap, center, center, none);
            a:hover{
                animation: none;
            }
        }
    }
    .bannerm{
        display: block;
        place-items: center;
    }
    .banner{
        display: none;
    }
    .intro{
        padding: $sp-lg $sp-sm;
        font-size: $text-sm;
        h1{
            font-size: $text-sm;
        }
    }
    
    .aves{
        .aves__izq {
            padding: 0%;
            padding-bottom: $sp-sm;
            display: grid;
            grid-template-areas: 
            "imagen"
            "texto "
            "reproductor";
            grid-row-gap: $sp-sm;
            grid-column-gap: $sp-sm;
            justify-items: center;
        }
        .aves__drc {
            padding: 0%;
            padding-bottom: $sp-sm;
            display: grid;
            grid-template-areas: 
            "imagen"
            "texto "
            "reproductor";
            grid-row-gap: $sp-sm;
            grid-column-gap: $sp-sm;
            justify-items: center;
        }
    }
    .cierre{
        @include flex(row, no-wrap, center, flex-start, none);        
        .cierre__imagen{
            margin: $sp-xxl $sp-xs;
        }

        .cierre__cr{
            margin: $sp-xxl 0px;
    
        }
    }

}