*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;

}

h1{
    font-size: $text-lg;
}

h3{
    font-size: $text-md;
}

h4{
    font-size: $text-sm;
    color: $accent;
}

label{
    font-size: $text-sm;
}

body{
    font-family: 'Inconsolata', monospace;
    font-size: $text-sm;
    color: $primary;
}

li{
    display: inline;
}

header{
    background-color: $accent;
    padding-top: $sp-sm;
    padding-bottom: $sp-sm;

}
main{
    background-color: $primary;
}

a{
    text-decoration: none;
    color: $primary;
    

}

article {
    font-size: $text-lg;
    text-justify: auto;
}

img{
    width: 100%;
}

input{
    border: none;
    background-color: $light;
    color: $accent;
    font-family: 'Inconsolata', monospace;
    font-size: $text-lg;
    margin-bottom: $sp-lg-hf;

}
::placeholder{
    color: $accent;
}

textarea {
    border: none;
    background-color: $light;
    color: $accent;
    resize: none;
    font-family: 'Inconsolata', monospace;
    font-size: $text-lg;
    padding: $sp-lg-hf;
    height: 288px;
}

hr{
    height: 4px;
    width: 100%;
    color: $primary;
    background-color: $primary;
    border: none;
}