
.cierre{
    font-size: $text-xs;
    @include flex(column, no-wrap, none, center, none);
    align-items: center;
    .cierre__imagen{
        margin: $sp-xxl;
        max-width: 157px;
    }
    .cierre__cr{
        @include flex(column, no-wrap, flex-end, none, none);
        font-size: $text-xs;
        margin: $sp-xxl;
    
    }
    
}