.navegador{
    @include flex(row, no-wrap, space-between, none, none);
    min-height: 94px;
    .navegador__link{
        @include flex(row, wrap, none, center, none);
        a{
            font-size: $text-md;
            display: table-caption;
            color: $light;
            font-size: $text-sm;
            margin: $sp-sm;
            padding: 3px;
            transition: color .4s ease-in-out;
            &:hover{
                color: $primary;
                animation-duration: 1.5s;
                animation-name: navegador__links;
                animation-iteration-count: 1;
            }
        }
    }
    .navegador__logo{
        width: 208px;
    }
}

.bannerm{
    display: none;
}
.banner{
    display: grid;
    place-items: center;
}

@keyframes navegador__links{
    0%{

    }
    70%{
        transform: rotate(-53deg);
    }
    80%{
        transform: rotate(20deg);
    }
    85%{transform: rotate(-20deg);
    }
    90%{
        transform: rotate(12deg);
    }
    95%{
        transform: rotate(-12deg);
    }
    100%{
        transform: rotate(0deg);
    }
}