.aves{
    text-align: center;
    .aves__img{
        max-width: 360px;
    }
    .aves__izq{
        padding: $sp-sm;
        display: grid;
        grid-template-areas: 
        "imagen imagen texto texto texto"
        "imagen imagen texto texto texto"
        "imagen imagen reproductor reproductor reproductor";
        grid-row-gap: $sp-sm;
        grid-column-gap: $sp-sm;
        justify-items: center;
    }
    .aves__drc{
        padding: $sp-sm;
        display: grid;
        grid-template-areas: 
        "texto texto texto imagen imagen"
        "texto texto texto imagen imagen"
        "reproductor reproductor reproductor imagen imagen";
        grid-row-gap: $sp-sm;
        grid-column-gap: $sp-sm;
        justify-items: center;
    }
    .aves__img{
        grid-area: imagen;
    }
     audio{
        grid-area: reproductor;
    }

} 







