.aves{
    text-align: center;
    &__img{
        max-width: 360px;
    }
    &__izq{
        padding: $sp-sm;
        display: grid;
        grid-template-areas: 
        "imagen imagen texto texto texto"
        "imagen imagen texto texto texto"
        "imagen imagen reproductor reproductor reproductor";
        grid-row-gap: $sp-sm;
        grid-column-gap: $sp-sm;
        justify-items: center;
    }
    &__drc{
        padding: $sp-sm;
        display: grid;
        grid-template-areas: 
        "texto texto texto imagen imagen"
        "texto texto texto imagen imagen"
        "reproductor reproductor reproductor imagen imagen";
        grid-row-gap: $sp-sm;
        grid-column-gap: $sp-sm;
        justify-items: center;
    }
    &__img{
        grid-area: imagen;
    }
     audio{
        grid-area: reproductor;
    }
    &__articles{
        color: $accent;
        margin: $sp-xl;
        margin-bottom: $sp-lg;
        h3{
            margin-bottom: $sp-sm;
        }
    }

} 







