.intro{
    color: $light;
    background-color: $primary;
    text-align: center;
    padding-top: $sp-xxl;
    padding-bottom: $sp-xxl;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;

}

.background__light{
    background-color: $light;
}

.background__primary{
    background-color: $primary;
}

.background__secondary{
    background-color: $secondary;
}
